# Listas
son contenedores que permiten almacenar una coleccion de objetos en un orden.

In [ ]:
L1=[]

In [1]:
L2=['a','e','i','o','u'] # lista con valores iniciales

In [2]:
L3=[2,3,4,5,11]

In [12]:
L4=['a',5,True,"os en"] # lista heterogenea con varios tipos de datos

In [8]:
L4

['a', 5, True, 'os en']

In [3]:
L5=[0]*10

In [4]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
L4[0]

NameError: name 'L4' is not defined

In [6]:
L5[4]=3.1415 #modificacion de valores

In [7]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [8]:
L4[0:2] # accesos de posiciones multiples (incluye la primera, no incluye la ultima)

NameError: name 'L4' is not defined

In [9]:
L5[1:4] = [1,2,3]

In [10]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [11]:
L5.append(8) # append aÃ±adir al final un objeto

In [12]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [13]:
L5.remove('casa') # remove elimina la primera ocurrencia del objeto

ValueError: list.remove(x): x not in list

In [14]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [15]:
len(L5) # longitud

11

In [16]:
L=[1,2,3,4,5,6]

In [17]:
L[1::2]

[2, 4, 6]

In [18]:
8 in L # ver si este numero esta contenido en la lista

False

# Bucles
for para iterar un coleccion

In [19]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [20]:
#hacer un for en un rango  - range(10) es igual que range(0,10)
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [21]:
for c in "Oscar Julian":
    print(c)

O
s
c
a
r

J
u
l
i
a
n

In [22]:
# funcion que calcula la media aritmetica
notas =[3.5,6.7,8,9,4.5]
suma=0
for nota in notas:
    suma=suma+nota
print(suma/len(notas))

6.34

# Bucle While
se repite hasta que la condicion es falsa

In [23]:
count = 0
while count <10:
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9

In [24]:
# idx es indice, y debemos convertir primos en un iterable con enumerate
primos = [2,3,5,7,11,13,17,19,23,29]
for idx,p in enumerate(primos):
    print(idx,p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [25]:
# idx solo me da el indice
for idx in range(len(primos)):
    print(idx,primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [26]:
#Almacenar numeros del 2 al 100
numeros=[]

for i in range(2,101):
    numeros.append(i)
print(numeros)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [27]:
# Criba de EratÃ³stenes
calcular los numero primos desde 1 hasta 100

SyntaxError: invalid syntax (3791560838.py, line 2)

# Tupla
es una coleccion de objetos que no pueden modificarse, tamaÃ±o y contenido fijo. en programacion avanzada se usa para ahorrar memoria, al no tener que usar memoria swap

In [28]:
pl=(1)

In [29]:
pl

1

In [30]:
p2=(1,2,3,4)

In [31]:
p2

(1, 2, 3, 4)

In [32]:
p3=(1,2,'c',3.1415)

In [33]:
p3

(1, 2, 'c', 3.1415)

In [34]:
p3[0]

1

In [35]:
#aaceder a las posiciones 0 y 2
p3[0:2]

(1, 2)

In [36]:
# convertimos un vector en tupla
p5=tuple(L5)

In [37]:
p5

(0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8)

# Ejercicio
leer del teclado numeros separados por comas y luego usar funcion split para pasarlo a lista convertir en tuplas

In [39]:
numeros = input("Esxribe numeros separados por comas.")
numerosL= numeros.split(",")
print(numerosL)
numerosT=tuple(numerosL)
print(numerosT)
#ojo que quedan convertidos en caracter, debemos pasarlos a numeros

Esxribe numeros separados por comas.1,2,9,65,3,2,24355,2,4,7
['1', '2', '9', '65', '3', '2', '24355', '2', '4', '7']
('1', '2', '9', '65', '3', '2', '24355', '2', '4', '7')

In [41]:
for n in numerosT:
    print(int(n))

1
2
9
65
3
2
24355
2
4
7

In [43]:
#ahora imprimimos la media de los numeros
suma = 0
for n in numerosT:
    suma += int(n)
print(suma/len(numerosT))

2445.0

In [46]:
nombre = "Juan"
print("Hola %s"%nombre)

Hola Juan

In [48]:
nombre= input("introduce aqui tu nombre")
print("Hola %s"%nombre)

introduce aqui tu nombrepedro
Hola pedro

In [51]:
print("estos son los numeros primos: %s" %primos)
numerodecimal=3.1415

estos son los numeros primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [54]:
print("esto es un numero decimal: %.2f" %numerodecimal )

esto es un numero decimal: 3.14

# Diccionario
o tambien llamados arrys asociativos
es un acoleccion no ordenada de pares de valores: claves <-> valores. no se indexa por posicion,, si no utilizando las claves

In [55]:
#una forma
# edad={"Oscar":28,"Mafe":26,"Juanita":17}
#La mejor forma para facil lectura
edad={"Oscar":28,
      "Mafe":26,
      "Juanita":17
     }

In [56]:
# en los diccionarios no existe el concepto de posicion entonces lo siugiente no funciona
edad[0]

KeyError: 0

In [57]:
#entonces la manera correcta de consultar es conociendo un dato
edad["Oscar"]

28

In [58]:
#vamos a cambiar el valor
edad["Oscar"] = 30

In [59]:
edad

{'Oscar': 30, 'Mafe': 26, 'Juanita': 17}

In [60]:
edad.keys()

dict_keys(['Oscar', 'Mafe', 'Juanita'])

In [61]:
edad.values()

dict_values([30, 26, 17])

In [62]:
len(edad)

3

In [63]:
"pepe" in edad

False

In [64]:
"Mafe" in edad

True

In [65]:
"Mario" not in edad

True

In [66]:
# borrar un elemento
del edad["Juanita"]

In [67]:
edad

{'Oscar': 30, 'Mafe': 26}